<div class="p-grid p-flex-column">
    <div class="p-fluid">
        <span class="p-float-label">
            <input id="longUrl" type="text" pInputText [formControl]="longUrl"> 
            <label for="float-input">Enter your URL here!</label>
        </span>
    </div>
    <div class="p-fluid">
        <p-button (click)="getUrl()" label="Get Shortened URL!"></p-button>
    </div>
    <div class="p-fluid">
        <span class="p-float-label">
            <input id="longUrl" type="text" pInputText [disabled]=true [formControl]="shortUrl"> 
            <label for="float-input">Shortened URL shows up here!</label>
        </span>
    </div>
  </div>